<style>


header {
    background:black;
    display: inline block;
    color:white;
    text-align:center;
    
}
aside {
    line-height:30px;
    background-color:#2962FF;
    height:1400px;
    width:10%;
    float:left;
    padding:5px; 
}

img{
    height: auto;
    width: 200px;
    float: right;


}
.section {
    background-color: #66BB6A;
    width:80%;
    float:left;
    padding:10px; 
}
.wrap {
     background-color: #7CB342
}
.something{
    background-color: #90A4AE;
    width:80%
    padding:10px;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>